.items {
  display: flex;
  gap: 50px;
}

.item {
  border: 5px solid white;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  position: relative;
  background-size: cover !important;
  box-shadow: 12px 12px 0 #fff;
}

.item:nth-child(1) {
  background: url("/us.png");
}
.item:nth-child(2) {
  background: url("/wedding.png");
}
.item:nth-child(3) {
  background: url("/ripples.png");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.item:hover .title {
  opacity: 0.7;
}
