@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  left: 0;
  max-width: 100vw;
  background: linear-gradient(
    to bottom,
    rgba(0, 123, 189, 0.3),
    rgba(252, 209, 42, 0.3)
  );
  scroll-snap-type: y proximity;
}

.theme {
  transition: 1s all ease;
}

a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 391px) {
  section {
    height: 700px;
  }
}

section {
  width: 100vw;
  height: 100vh;
  left: 0;
}

@keyframes shake5 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.error {
  animation: shake5 0.4s ease-in-out 0s 2;
}
